<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
  {% if user_info: %}
    <section class="hero is-large is-danger">
        <div class="hero-body">
          <p class="title">The Secret Page</p>
          <p class="subtitle">You should be logged in</p>
          <p class="title">{{ user_info.profile_name }}</p>
        </div>
      </section>
  {% else: %}
  <h1 style="display: flex; justify-content:center; align-items:center;">Shutttt... Kamu belum Login~~</h1>
  {% endif %}
</body>
</html>